<nav class="navbar navbar-default navbar-static-top" role="navigation" >
    <ul class="nav navbar-nav">
        <li class="active">
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <a routerLink="/about">About Us</a>
        </li>
        <li>
            <a routerLink="/contact">Contact Us</a>
        </li>
        <li >
                <a routerLink="/login">Login</a>
        </li>
        <!-- <li *ngIf="isLogin">
            <a (click)="logout()">Logout</a>
        </li> -->
        <li>
          <a routerLink="/register">Register</a>
  </li>
  </ul>
  </nav>

    <div style="align-content: center;padding-left: 500px;"><h1>Medicure</h1></div>
    <div class="bg-img">
        <div>
      <p style="font-size: x-large; padding-left: 250px;padding-top: 200px; color: white;font-weight: bolder;">
          Contact to: <br>
          Shamli Ingole: 8275049601<br>
          Emitta Thekkan:8574961245<br>
          Address:<br>
          Sunbeam Infotech,Anuda chambers,203<br>
          Karad,444501
     </p>
    </div>
    </div>

        
