<nav class="navbar navbar-default navbar-static-top" role="navigation" >
        <ul class="nav navbar-nav">
            <li class="active">
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/about">About Us</a>
            </li>
            <li>
                <a routerLink="/contact">Contact Us</a>
            </li>
            <li>
                    <a routerLink="/login">Login</a>
            </li>
            <li >
                <a routerLink="/home">Logout</a>
            </li>
            <li>
              <a routerLink="/register">Register</a>
      </li>
      </ul>
      </nav>

        <div style="align-content: center;padding-left: 500px;"><h1>Medicure</h1></div>
        <div class="bg-img">
            <div>
          <p style="font-size: xx-large; padding-left: 250px;padding-top: 300px; color: white;font-weight: bolder;">
                This website will help you to book your appointments <br>
                with any doctor you want Online!!<br>
                Register to our website to book your appointments now!!!
         </p>
        </div>
        </div>
  
            
 