<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <ul class="nav navbar-nav">
      <li class="active">
          <a routerLink="/home">Home</a>
      </li>
      <li>
          <a routerLink="/about">About Us</a>
      </li>
      <li>
          <a routerLink="/contact">Contact Us</a>
      </li>
     
      <li>
        <a routerLink="/patientschedule">Show Schedule</a>
      </li>

      <li>
        <a routerLink="/testreport">View Reports</a>
      </li>

      <li>
        <a routerLink="/editprofile">Edit Profile</a>
      </li>

      <li>
        <a routerLink="/home">Logout</a>
      </li>
</ul>
</nav>
<div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
         
          <tr>
              <td ><input type="search"/>CITY</td>
              <td ><input type="search"/>Specialization</td>
         </tr>
        
       <tr>
         <div style="background-color: lightblue;"><h1><td>TOP 10 DOCTORS AVAILABLE!!!!!</td></h1></div>
        
        </tr>
        <!-- <tr>
            <td><a href="/doctorprofile">Dr.Shamli Mane(MBBS)</a></td>
            
        </tr> -->
        <tr *ngFor="let doct of doctors">
          <td>{{doct.firstName}}</td>
          <td></td>
         </tr>
      </tbody>
    </table>
  </div>

  



  