<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <ul class="nav navbar-nav">
        <li class="active">
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <a routerLink="/about">About Us</a>
        </li>
        <li>
            <a routerLink="/contact">Contact Us</a>
        </li>
       
        <li>
            <a routerLink="/patientdashboard">Patient Dashboard</a>
        </li>
  
        <li>
          <a routerLink="/home">Logout</a>
        </li>
  </ul>
  </nav>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr   style="background-color: lightblue;">
               <h1> <td align="center">Edit Profile</td></h1>
            </tr>
            <tr>
                <td><input type="button" value="Logout"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="Name"/></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="Name"/></td>
            </tr>
            <tr>
                <td>Contact Number</td>
                <td><input type="text" name="Name"/></td>
            </tr>
            <tr>
                <td>Email ID</td>
                <td><input type="text" name="Name"/></td>
            </tr>
           
            <tr>
                <td>Password</td>
                <td><input type="text" name="Name"/></td>
            </tr>
            <tr>
                
               <td>
                 
                 <button type="button" class="btn btn-large btn-block btn-primary">Update</button>
                 
               </td>
            </tr>

        </tbody>
    </table>
</div>

